certifi==2026.2.25
charset-normalizer==3.4.7
configparser==7.2.0
dotenv==0.9.9
geographiclib==2.1
geopy==2.4.1
idna==3.11
PyTermGUI==7.7.4
python-dotenv==1.2.2
requests==2.33.1
typing_extensions==4.15.0
urllib3==2.6.3
wcwidth==0.6.0
